.outline-2 h2 {

}

h3 {
    text-indent: 10px;
    color: #e87272;
}

h4 {
    text-indent: 15px;
    color: #98e898;
}

h5 {
    text-indent: 20px;
    color: #d3d3ff;
}

b {
    color: red;
}

code {
    color: #ccf0aa;
}

i {
    color: #20F50B;
}

table {
    border: 1px solid black;
    margin-left: 30px;
    margin-left: auto;
    margin-right: auto;
}

td {
    border: 1px solid black;
    width: 100px;
    text-align: center;
}

.org-right {

}

th {
    border: 2px solid black;
    background: #383838;
}

tr:nth-child(odd){
    background: #383845;
}

tr:nth-child(even){
    background: #383838;
}


.t-above {
    display: none;
}

span.timestamp-wrapper {
    display: block;
    text-indent: 30px;
}

a[href="index.html"] {
    display: none;
}
a[href="template.html"] {
    display: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: #b5890f;
}

a:active {
    color: red;
}

.tag {
    color: #28f371;
    background-color: transparent;
}

#table-of-contents > h2:first-child {
    display: none;
}

.src-json {
    display: block;
}

.src-json:before {
    content: "Json";
    color: red;
}

.src-python:before {
    content: "Python";
    color: red;
}

.src-org:before {
    content: "Org Mode";
    color: red;
}

.src-emacs-lisp:before {
    content: "Emacs Lisp";
    color: red;
}

body {
    background: #2b1309;
    color: white;
}

p:not(.verse) {
    text-indent: 20px;
}

.verse {
    color: #bf8e1b;
}
