.cube {
  transform-style: preserve-3d;
  position: relative;
  width: 100px;
  height: 100px;
  perspective: 500px;
  animation: rotate-cube 20s infinite linear;
}

.side {
  position: absolute;
  width: 100px;
  height: 100px;
}

.front-side {
  transform: translateZ(50px);
}

.back-side {
  transform: translateZ(-50px);
}

.right-side {
  transform: translateX(50px) rotateY(90deg);
}

.left-side {
  transform: translateX(-50px) rotateY(-90deg);
}

.top-side {
  transform: translateY(-50px) rotateX(90deg);
}

.bottom-side {
  transform: translateY(50px) rotateX(-90deg);
}

@keyframes rotate-cube {
  0% {
    transform: rotateX(45deg) rotateY(45deg);
  }

  25% {
    transform: rotateX(-45deg) rotateY(45deg);
  }

  50% {
    transform: rotateX(-45deg) rotateY(-45deg);
  }

  70% {
    transform: rotateX(45deg) rotateY(-45deg);
  }

  50% {
    transform: rotateX(45deg) rotateY(45deg);
  }
}

.cube2 {
  transform-style: preserve-3d;
  position: relative;
  width: 100px;
  height: 100px;
  perspective: 500px;
}

.left-side2 {
  transform: translateZ(50px) rotateX(30deg);
}
