@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --shadow-color-1: #8d8484d9;
  --shadow-color-2: #f1ececd9;
}

.neu-shadow {
  box-shadow:
    3px 3px 5px 1px var(--shadow-color-1),
    -3px -3px 5px 1px var(--shadow-color-2);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-300px);
  }

  to {
    transform: translate(0px);
  }
}

@keyframes colorChange {
  from {
    background-color: red;
  }

  80% {
    background-color: yellow;
  }

  to {
    background-color: green;
  }
}

.colorChange2S {
  animation: colorChange 2s ease-out;
  animation-fill-mode: both;
  animation-direction: normal;
  animation-iteration-count: 2;
  animation-delay: 2s;
}

.slideInLeft2S {
  animation: slideInLeft 1.5s ease-out;
}

.fadeIn2S {
  animation: fadeIn 2s ease-out;
}

::-webkit-scrollbar {
  width: 0;
}

.transition-test {
  background-color: #4caf50;
  transition: background-color 5s ease;
}

.transition-test:hover {
  background-color: maroon;
}
