@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GiveYouGlory";
  src: url("../assets/GiveYouGlory-Regular.ttf") format ("truetype");
}

body {
  font-family: "GiveYouGlory";
}
